In [11]:
print("hello world")

hello world

In [15]:
print("it's a goodday")

it's a goodday

In [16]:
## string ---- abayomi, "20"    
## integrer ---- whole numbers 
## float ---- 3.1425
## boolean ---- true, flase

In [22]:
a = 10
b = 100
c = 10000
d = "none of the above"
print(d)

none of the above

In [26]:
## variable should be meaningful 
value1 = 20
value2 = 30 
total = value1 + value2 
print(total)

50

In [ ]:
## input function 
number1 = input("Give me a number") ## this is a string, change to float or integer
number2 = input("Give me another number")
total = number1 + number2
print(total)

1015

In [1]:
## casting
number1 = input("Give me a number")
number2 = input("Give me another number")
total = int(number1) + int(number2)
print(total)

30

In [10]:
num1 = input("Please enter first number")
num2 = input("Please enter second number")
num3 = input("Please enter third number")
total = int(num1) + int(num2) + int(num3)
print(total)
print(total / 3)

60
20.0

In [18]:
## 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

## for loop
for z in range (10):
    print(z)

0
1
2
3
4
5
6
7
8
9

In [22]:
## creating and printing 20 times
my_name = "John"

## print the name 20 times
for name in range(20):
    print(my_name)

John
John
John
John
John
John
John
John
John
John
John
John
John
John
John
John
John
John
John
John

In [26]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [32]:
## ask user for inputs
name = input("Please enter your name")
repetitions = int(input("How many times would you like it to be repeated?"
))
## loop through to repeat the message entered by user
for i in range(1, repetitions+1):
    print(str(i) + "." + name)                 ##casting

1.Jesus is King
2.Jesus is King
3.Jesus is King
4.Jesus is King
5.Jesus is King
6.Jesus is King
7.Jesus is King
8.Jesus is King
9.Jesus is King
10.Jesus is King

In [37]:
## Times Table
## Ask the user for highest time table they want to generate
max_table = int(input("Whats the highest times table you want to generate?"))

## loop through 
for table in range(1, max_table + 1):
    print("\nTimes table for",  table)

    for i in range (1, 15):
        print(table, "x", i, "=", table * i)

Times table for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
1 x 13 = 13
1 x 14 = 14

Times table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28

Times table for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42

Times table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56

Times table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70

In [38]:
## while loop
count = 1
while count < 10:
    print(count)
    count +=1

1
2
3
4
5
6
7
8
9

In [40]:
## while loop
entry = ""
password = 'letmein'

while entry != password:
    entry = input("Please enter your password")
print("Access Granted!")

Access Granted!

In [ ]:
guess = input("Enter guests")
while guess != 'Yeshua':
    guess = input("Guess my name")
    print("Correct")

In [41]:
## altenrative
while True:
    guess = input("Guess my name")
    if guess == "Rumpletitlskin":  ## single is assigning, double is checking
        print("Correct")
        break
    print("Wrong")

Wrong
Wrong
Wrong
Correct

In [42]:
## alternative
while True:
    guess = input("Guess my name")
    if guess != "Pinoccio":
        print("wrong")
        continue
    print("Correct")
    break

wrong
wrong
wrong
Correct

In [47]:
## initialise the total
total = 0

## ask the user to enter a number
while True:
    number = int(input("Enter a number: "))

    ##check if the user enters 0
    if number == 0:
        break
    total += number 
    ## print the total number 
    print("The total number is:", total)

The total number is: 15
The total number is: 115
The total number is: 133
The total number is: 210
The total number is: 219

In [4]:
## Asignment Operators, Relational Operators, Logical Operators
## creating a program that prints out number greater than each other 
## Get first number from user
first_number = int(input("Enter first number:"))
## Get second number
second_number = int(input("Enter second number:"))

## When the first number is greater than the second number 
if first_number > second_number:
    print("The first number is greater than the second number")

    ## When second number is greater than first number
    if second_number > first_number:
        print("The second number is greater than the first number")

        if first_number == second_number:
            print("The numbers are equal")

In [34]:
## age scenario of losing party 
## ask teh user of their age 
age = int(input("How old are you?"))

if age >= 18:
    print("Welcome to the party!!")

elif age > 13:
    print("You should ride with with an adult")

else:
    print("Hey boy, go play with your toys")

Welcome to the party!!

In [41]:
## Leap year 

year = int(input("Enter the year you were born: "))

## Check if the year is a leap year 
if year % 4 == 0:
    print("You were born in a leap year!")
else:
    print("You were not born in a leap year :(")

You were born in a leap year!

In [42]:
## Till system 
age = int(input("Enter your age: "))

if age < 20 or age > 65:
    price = 0
else:
    swim_card = input("Do you have a membership card? (yes/no): ")
    if swim_card.lower() == "yes: ":
        price = 2.5
    else:
        price = 5

## RESPONSE 
print("The price for swimming is £" +str(price))

The price for swimming is £5